@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@500;700&display=swap');
:root {
	--txt-gradient1: #3959d7;
	--txt-gradient2: #2a4ac8;
	--txt-heading: #1f3e72;
	--txt-general: #6d7b93;
	--backgroung-special: #f1f5ff;
	--background-icon: #e9f1fe;
	--background-image1: #0998e6;
	--backgrounf-image2: #3760da;
	--font-heading: 'Monserrat', sans-serif;
	--font-base: 'Poppins', sans-serif;
	--box-hover-shadow: 0 1px 8px rgba(183, 194, 236, 0.3), 0 3px 8px rgba(183, 194, 236, 0.2),
		0 7px 8px rgba(183, 194, 236, 0.1);
}
* {
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	color: var(--txt-general);
	font-family: var(--font-base);
}

header {
	display: grid;
	position: fixed;
	z-index: 5;
	width: 100%;
	top: 0;
	padding: 30px 40px;
	grid-template-columns: repeat(12, 1fr);
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 3px solid white;
	font-size: 17px;
	overflow: hidden;
}
.headings {
	color: var(--txt-heading);
	font-family: var(--font-heading);
	font-weight: 900;
}
a {
	position: relative;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 5px;
	background-image: -webkit-linear-gradient(90deg, var(--txt-gradient1), var(--txt-gradient2));
	background-image: linear-gradient(90deg, var(--txt-gradient1), var(--txt-gradient2));
	background-clip: text;
	-webkit-background-clip: text;
	border-radius: 0.5rem;
	color: transparent;
	text-align: center;
	cursor: pointer;
	transition: 0.4s;
}
.logo {
	background-image: -webkit-linear-gradient(90deg, var(--txt-gradient1), var(--txt-gradient2));
	background-image: linear-gradient(90deg, var(--txt-gradient1), var(--txt-gradient2));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-family: var(--font-heading);
	font-size: 1.4em;
	font-weight: 800;
}
.nav {
	background-image: unset;
	background-clip: unset;
	-webkit-background-clip: unset;
	color: var(--font-base);
	font-weight: 600;
}
.yellow-icon,
.blue-icon {
	margin-right: 0.8rem;
	padding: 0.5rem;
	background-color: #fff8de;
	border: 2px solid white;
	border-radius: 0.5rem;
	color: #ffd012;
	font-size: 0.95em;
	box-shadow: 0 1px 8px #fff8de, 0 3px 8px #fff8de;
}
.blue-icon {
	position: relative;
	background-image: -webkit-linear-gradient(90deg, var(--txt-gradient1), var(--txt-gradient2));
	background-image: linear-gradient(90deg, var(--txt-gradient1), var(--txt-gradient2));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	box-shadow: none;
}
a:not(.logo, .nav)::after,
.blue-icon::after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--background-icon);
	border-radius: 0.5rem;
}
a:hover:not(.logo) {
	background-image: linear-gradient(45deg, var(--txt-gradient1), var(--txt-gradient2));
	background-clip: unset;
	-webkit-background-clip: unset;
	color: white;
	font-family: var(--font-heading);
	box-shadow: var(--box-hover-shadow);
}
section,
footer {
	display: grid;
	grid-gap: 1.5rem;
}
.main-info {
	position: relative;
	grid-template-columns: 1fr 2fr 1fr 3fr;
	grid-template-rows: 0.5fr repeat(4, 0.1fr) 0.5fr;
}
.main-info .headings {
	margin: 20px 0;
	font-size: 3.3em;
}
.schedule-info {
	width: 55%;
	position: absolute;
	bottom: 70px;
	left: 210px;
	z-index: 1;
	padding: 35px;
	background-color: rgba(255, 255, 255, 0.9);
	border: 3px solid white;
	border-radius: 7px;
	box-shadow: var(--box-hover-shadow);
}
.schedule-info p {
	margin: 0;
}
.schedule-info > div > p:last-child {
	margin-top: 0.5rem;
	margin-left: 2.8rem;
	color: var(--txt-heading);
	font-family: var(--font-heading);
	font-size: 1.2em;
}
.schedule-info > a {
	width: 8rem;
	height: 3rem;
}
.people-image {
	background-image: linear-gradient(135deg, var(--background-image1), var(--backgrounf-image2));
}
.vaccine {
	margin: 3.5rem;
	width: 12rem;
	flex-wrap: wrap;
}

.reasons {
	grid-template-columns: 0.7fr repeat(4, 1fr) 0.7fr;
	grid-template-rows: 0.5fr 1fr;
}
h2 {
	color: var(--txt-heading);
	font-family: var(--font-heading);
	font-size: 2rem;
	font-weight: 800;
}
.card {
	width: 80%;
	padding: 15px;
	border: 3px solid #fafaff;
	border-radius: 1rem;
}
.card:hover {
	box-shadow: var(--box-hover-shadow);
}
h3 {
	margin-bottom: 0.5rem;
	color: var(--txt-heading);
	font-family: var(--font-heading);
	font-size: 1.2rem;
}
.card p {
	font-size: 0.7rem;
}
.card .blue-icon {
	margin-right: 1rem;
	padding: 0.8rem;
	font-size: 1.5rem;
}

.preparation {
	grid-template-columns: 3fr 1fr 2fr 1fr;
	grid-template-rows: 0.5fr repeat(5, 0.1fr);
}

.emergency {
	grid-template-columns: 0.5fr 1fr 1fr 0.5fr 2fr;
	grid-template-rows: 0.5fr repeat(3, 0.1fr);
}

footer {
	grid-template-columns: 0.5fr 1fr 2fr 1fr 1fr 1fr 0.5fr;
	grid-template-rows: repeat(3, 0.1fr);
	margin-top: 7rem;
	padding-top: 2rem;
	background-color: var(--backgroung-special);
}
footer .logo {
	font-size: 1.7rem;
	font-weight: 8000;
}
footer h3 {
	font-weight: 700;
	font-family: var(--font-base);
}
footer p {
	font-size: 0.9rem;
}
